
# SMTP trap
mailhog:
    extends:
        file: docker/common.yml
        service: basemailhog
    ports:
        - "8035:8025"

engine:
    extends:
        file: docker/common.yml
        service: baseengine
    links:
        - "postgres:postgres"
        - "mailhog:mailhog"

front:
    ports:
        - "8039:80"
    extends:
        file: docker/common.yml
        service: basefront
    links:
        - "engine:engine"

postgres:
    ports:
        - "5467:5432"
    extends:
        file: docker/common.yml
        service: basepostgres
    volumes_from:
        - datapostgres

datapostgres:
    extends:
        file: docker/common.yml
        service: basedatapostgres
