
# SMTP trap
mailhog:
  image: mailhog/mailhog
  ports:
    - "8035:8025"

engine:
    build: ./docker/engine/
    volumes:
        - ".:/home/docker:rw"
        - "./docker/engine/php.ini:/usr/local/etc/php/conf.d/custom.ini:ro"
    links:
        - "postgres:postgres"
        - "mailhog:mailhog"
    working_dir: "/home/docker"

front:
    image: nginx
    ports:
        - "8039:80"
    links:
        - "engine:engine"
    volumes:
        - ".:/home/docker:ro"
        - "./docker/front/default.conf:/etc/nginx/conf.d/default.conf:ro"

postgres:
    image: postgres
    environment:
        - POSTGRES_USER=devcontest
        - POSTGRES_PASSWORD=devcontest
        - PGPASSWORD=devcontest
    ports:
        - "5467:5432"
    volumes_from:
        - datapostgres

datapostgres:
    image: tianon/true
    volumes:
        - /var/lib/postgresql/data