parameters:
    database_driver: pdo_pgsql
    database_host: postgres
    database_port: null
    database_name: devcontest
    database_user: devcontest
    database_password: devcontest
    database_name_test: devcontest_test
    mailer_transport: smtp
    mailer_host: mailhog
    mailer_user: null
    mailer_password: null
    locale: fr
    secret:            ThisTokenIsNotSoSecretChangeIt
    router.request_context.host: 'localhost:8039'
    router.request_context.scheme: http
    jwt_private_key_path: %kernel.root_dir%/var/jwt/private.pem   # ssh private key path
    jwt_public_key_path:  %kernel.root_dir%/var/jwt/public.pem    # ssh public key path
    jwt_key_pass_phrase:  ''                                      # ssh key pass phrase
    jwt_token_ttl:        86400