parameters:
    database_driver: pdo_pgsql
    database_host: postgres
    database_port: null
    database_name: devcontest
    database_user: devcontest
    database_password: devcontest
    database_name_test: devcontest_test
    mailer_transport: smtp
    mailer_host: mailhog
    mailer_user: null
    mailer_password: null
    locale: fr
    secret:            ThisTokenIsNotSoSecretChangeIt
    router.request_context.host: 'localhost:8039'
    router.request_context.scheme: http
    a0_client_id: ''
    a0_client_secret: ''
    a0_secret_base64: true
    a0_domain: 'xxxx.eu.auth0.com'