parameters:
    database_driver: pdo_pgsql
    database_host: postgres
    database_port: null
    database_name: devcontest
    database_user: devcontest
    database_password: devcontest
    mailer_transport: smtp
    mailer_host: mailhog
    mailer_user: null
    mailer_password: null
    locale: fr
    secret:            ThisTokenIsNotSoSecretChangeIt
    github_client_id: ~
    github_client_secret: ~
